<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<link href="../static/css/create.css" th:href="@{/css/create.css}" rel="stylesheet">

<head th:replace="fragments :: head">

</head>
<body>

<header th:replace="fragments :: header"></header>
<form method = 'post' th:action="@{/events/create}">
    <div>
        <label>Pick an event name:
        <input th:field="${event.eventName}"
               type="text"
               class="form-control"
               id = "inputName"
               placeholder = 'Pick an event name'/>
        </label>
        <p th:errors="${event.eventName}" class="error"></p>
    </div>

    <div>
        <label>Choose the number of holes:
        <input th:field="${event.holes}"
               type="number"
               class="form-control"
               id="chooseHoles"
               placeholder="Number of holes"/>
        </label>
        <span th:errors="${event.holes}" class="error"></span>
    </div>

    <input class="submit-btn" type="submit" value="Create My Event!" />
</form>

</body>
</html>