<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container">
<h1>Join A Tournament</h1>

<table th:object="${events}" class="table table-striped" >
    <thead>
    <tr>
        <h3>List of All Tournaments</h3>
    </tr>
    </thead>

        <td>
            <li th:each="event : ${events}">
                <a th:href="@{/events/{id}(id=${event.id})}" th:text="${event.name}"></a>
            </li>
        </td>

</table>

</body>
</html>