<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/" xmlns="http://www.w3.org/1999/html">
<head th:insert="fragments :: head"></head>
<body>
<!--<header th:replace="fragments :: header"></header>-->
<!--<span th:text="${event.getId()}"></span>-->
<form action="#" th:action="@{/events/save}" th:object="${form}"
      method="post">
    <fieldset>
        <input type="submit" id="submitButton" th:value="Save">
        <input type="reset" id="resetButton" name="reset" th:value="Reset"/>
        <table>
            <thead>
            <tr>
                <th>Hole</th>
                <th>Score</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="score, iterStat : *{scores}">
                <td position="*{scores[__${iterStat.index}__].position}" th:text="${iterStat.count}"/></td>
                <td><input th:field="*{scores[__${iterStat.index}__].score}" /></td>
            </tr>
            </tbody>
        </table>
    </fieldset>
</form>


</body>
</html>