<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Event Page</head>
<body class="container">
<header th:replace="fragments :: header"></header>
<h1 th:text="${'Event: ' + event.eventName}">Default Title</h1>
<h3>Join Code</h3>
<div>
<!--    <p>Data : <span th:text="${eventLink}"></span></p>-->
    <img th:src="${'data:image/png;base64,' + qrcode}" alt="" height="150" width="150">
</div>

<button type="button" class="btn btn-primary" onclick="window.location.href='/events/play'">Play This Event</button>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Player</th>
        <th>Score</th>
    </tr>

    </thead>
    <tr th:each="score : ${scoreMap}">
        <td th:text="${score.key}"></td>
        <td th:text="${score.value}"></td>
    </tr>
</table>
<form th:action="@{/events/{eventId}(eventId=${event.id})}" th:object="${event}" method="post">
    <button type="submit">Close Tournament</button>
</form>
</body>
</html>