<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">Event Page</head>
<body class="container">

<h1 th:text="${'Event: ' + event.name}">Default Title</h1>
<h3>Join Code</h3>
<div>
<!--    <p>Data : <span th:text="${eventLink}"></span></p>-->
    <img th:src="${'data:image/png;base64,' + qrcode}" alt="" height="150" width="150">
</div>

<h3 rel="events/play">Submit a Score</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Individual Scores</th>
    </tr>
    </thead>
    <tr th:each="score : ${scores}">
        <span th:if="${score.eventId == event.id}">
            <td th:text="${score.position}"></td>
            <td th:text="${score.score}"></td>
            <td th:text="${score.username}"></td>
            <td th:text="${score.userId}"></td>
        </span>
    </tr>
</table>

<table class="table table-striped">
    <thead>
    <tr>
        <th>Total Scores</th>
    </tr>
    </thead>
    <tr th:each="score : ${scores}">
        <span th:if="${score.eventId == event.id}">
            <td th:text="${score.score}"></td>
            <td th:text="${score.username}"></td>
        </span>
    </tr>
</table>

</body>
</html>