<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <!--  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />-->
  <link href="../static/css/join.css" th:href="@{/css/join.css}" rel="stylesheet">

  <title>User Login</title>
</head>
<body class="container">
<h1>Login</h1>
<form method="post" th:action="@{/user/login}">
  <div class="form-group">
    <label>Username
      <input class="form-control" th:field="${loginFormDTO.username}">
    </label>
    <p class="error" th:errors="${loginFormDTO.username}"></p>
  </div>
  <div class="form-group">
    <label>Password
      <input class="form-control" th:field="${loginFormDTO.password}" type="password">
    </label>
    <p class="error" th:errors="${loginFormDTO.password}"></p>
  </div>

  <input type="submit" class="btn btn-primary" value="Log In" />
</form>

<p class="no-acct">Don't have an account? <a href="register">
  <button class="create-acct">Create An Account.</button>
</a>
</p>
</body>
</html>
