<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<link href="../static/css/select.css" th:href="@{/css/select.css}" rel="stylesheet">

<head th:insert="fragments :: head">
    <title>Dashboard</title>
</head>
<body>
<header th:replace="fragments :: header"></header>
<h1>Welcome to Your Dashboard</h1>

<a href="/events/create"><button class="select">Host A Tournament</button></a>
<a href="/events/index"><button class="select">Join Existing Tournament</button></a>
<a href="/user/logout"><button class="select">Log Out</button></a>
</body>
</html>