div h1 {
height: 900px;
width: 900px;
}
h1{
font-size: 45px;
text-align: center;
}

html{
max-width: 100%;
background-image: url("../images/golf_ball_and_tee.jpg");
background-repeat: no-repeat;
background-size: cover;

}

.form-group{
font-weight: bold;
text-align: center;
font-size: 25px;
flex-direction: column;
}

.btn-primary{
    margin-inline-start: 40%;
    font-weight: bold;
    font-size: large;
    background-color: lightblue;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 10px;

}

.existing-acct{
    font-weight: bold;
    background-color: lightblue;
    margin-inline-start: 40%;
    border-radius: 10px;
 font-size: large;


}