div h1 {
height: 900px;
width: 900px;
}


.container{
display: flex;
flex-direction: column;

background-color: rgb(218 165 32 /.75);

}


h1{
text-align: center;
}
html{

background-image: url("../images/golf_ball_and_club.jpg");
background-repeat: no-repeat;
background-size: cover;


}


.form-group{
text-align: center;
font-size: 30px;
flex-direction: column;
}

.btn-primary{
    font-size: large;
    margin: 50%;
    margin-top: 85px;
    margin-bottom: 85px;
    border-radius: 10px;

}
.no-acct{
font-size: 30px;
}

.create-acct{

 border-radius: 10px;
 font-size: large;

}