.welcome {

height: 900px;
width: 900px;
}

body{
max-width: 100%;
background-image: url("../images/costa-navarino.jpg");
background-repeat: no-repeat;
background-size: cover;

}

button{
font-weight: normal;
background-color: lightblue;
border: 2px solid black;
border-radius: 10px;
margin: 10px;

}
.symmetry {
text-align: center;
}