.welcome {

height: 900px;
width: 900px;
}

body{
max-width: 100%;
background-image: url("../images/costa-navarino.jpg");
background-repeat: no-repeat;
background-size: cover;

}

button{
font-weight: bold;
background-color: lightblue;
border: 5px solid black;
border-radius: 10px;
margin: 10px;

}