.welcome {
height: 900px;
width: 900px;
}

html{
max-width: 100%;
background-image: url("../images/golf_ball_and_club.jpg");
background-repeat: no-repeat;
background-size: cover;

}

button{

background-color: green;
border: 5px solid black;
border-radius: 10px;
margin: 10px;

}