<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>Scorekeeper</title>
</head>
<body>
<header th:fragment="header" class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggler-icon"></span>
<!--        <span class="icon-bar"></span>-->
<!--        <span class="icon-bar"></span>-->
      </button>
      <a th:href="@{/index}" class="navbar-brand">Scorekeeper</a>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a th:href="@{/selectHostOrJoin}">Dashboard</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a th:href="@{/search}">Tournament</a></li>
            <li><a th:href="@{/search}">User</a></li>
          </ul>
        </li>
        <li>
          <a th:href="@{/events/create}">Create a Tournament</a>
        </li>
        <li>
          <a th:href="@{/scoreboard}">Scores</a>
        </li>
        <li class="active">
          <a th:href="@{/user/logout}">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<p th:fragment = ""></p>
<p th:fragment = ""></p>
</body>
</html>