<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:fragment="head">
  <meta charset="UTF-8" />
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>Scorekeeper</title>
</head>
<body>
<header th:fragment="header" class="navbar navbar-expand-lg navbar-inverse navbar-fixed-top bs-docs-nav" role="banner">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-bs-toggle="collapse" data-bs-target=".bs-navbar-collapse #navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="sr-only">Toggle navigation</span>
        <span class="navbar-toggle-icon"></span>
      </button>
      <span class="navbar-brand mb-0 h1">Scorekeeper</span>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation" id="navbarNavDropdown">
      <ul class="nav navbar-nav navbar-right navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/user/selectHostOrJoin}">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/search}">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/events/create}">Create Tournament</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" th:href="@{/list}">All Tournaments</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" th:href="@{/user/logout}">Logout</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
<p th:fragment = ""></p>
<p th:fragment = ""></p>
</body>
</html>