<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head>
  <meta charset="UTF-8">
  <link href="../static/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet" />
  <title>Welcome to ScoreKeeper</title>
</head>
<body>
<h1> Welcome to ScoreKeeper</h1>
<h2> Host A Tournament</h2>
<a href="user/host">Register to Host an Event.</a>
<a href="user/login">Login to an existing account.</a>
<h2> Join A Tournament</h2>
<a href="user/registerToPlay">Register to play.</a>
<a href="user/loginToPlay">Login to an existing account.</a>
</body>
</html>
<!-- created an index page that will allow client to see both options -->