<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>

<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Tournaments by Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>All</th>
        <th>Tournament Name</th>
        <th>Tournament Id</th>
    </tr>

    <tr>
        <td>
            <li>
                <a th:href="@{/list/tournaments(category='All',value='View All')}">View All</a>
            </li>
        </td>
        <td>
            <li th:each="tournamentName : ${tournaments}">
                <a th:href="@{/list/tournaments(category=tournamentName,value=${tournamentName.name})}" th:text="${tournamentName.name}"></a>
            </li>
        </td>
        <td>
            <li th:each="eventId : ${tournaments}">
                <a th:href="@{/list/tournaments(category=eventId,value=${eventId.name})}" th:text="${eventId.name}"></a>
            </li>
        </td>
    </tr>
</table>



</body>
</html>