<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container body-content">
    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
    <h2 class = "centered">View Tournaments by Category</h2>
</div>

<table class="centeredTable">
    <tr>
        <th>Tournament ID</th>
        <th>Tournament Name</th>
    </tr>
    <tr>
        <td>
            <li th:each="eventId : ${tournaments}">
                <a th:href="@{'/events/' + ${eventId.id}}" th:text="${eventId.id}"></a>
            </li>
        </td>
        <td>
            <li th:each="tournamentName : ${tournaments}">
                <a class="disabled" th:text="${tournamentName.eventName}"></a>
            </li>
        </td>
    </tr>
</table>



</body>
</html>