<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org/">
<head th:replace="fragment :: head"></head>
<body>

<h1> ScoreBoard</h1>
<!--
<table class="table table-striped">

    <thead>
    <tr>
        <th>All Scores</th>
    </tr>
    </thead>
    <tr th:each="score : ${scores}">
        <td th:text="${score.position}"></td>
        <td th:text="${score.score}"></td>
        <td th:text="${score.username}"></td>
        <td th:text="${score.userId}"></td>
    </tr>
</table>
-->
</body>
</html>