<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="category : ${categories}">
                <input
                        type="radio"
                        name="searchCategory"
                        th:id="${category.key}"
                        th:value="${category.key}"
                        th:checked="${category.key == 'tournamentName'}"/>
                <label th:for="${category.key}" th:text="${category.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />

    <table class="tournament-listing">
    <tr th:each="tournament : ${tournaments}">
        <td>
            <p>
                Tournament Id:
                <a th:href="@{'/events/' + ${tournament.id}}" th:text="${tournament.id}"></a>
            </p>
            <p th:text="${'Name: ' + tournament.name}"></p>

        </td>
    </tr>
    </table>

    <table class="user-listing">

        <tr th:each="user : ${users}">
            <td>
                <p>
                    Username:
                    <a th:href="@{'/user-listing/' + ${user.username}}" th:text="${user.username}"></a>
                </p>
            </td>
        </tr>

    </table>

</div>



</body>
</html>